.shop {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &ItemsProducts {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .searchTools {
    margin: 0 auto;
    margin-top: -10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    @media (max-width: 750px) {
      width: 100%;
    }
    @media (max-width: 480px) {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
    }
  }
  .itemBox {
    width: 100%;
    @media (max-width: 1118px) {
      margin-top: 120px;
    }
    display: flex;
    justify-content: center;
    .shopFilters,
    .shopFiltersOff {
      position: relative;
      padding-top: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      width: 20vw;
      user-select: none;
      max-height: 220px;
      @media (max-width: 1118px) {
        width: 0px;
      }
      &Block {
        position: absolute;
        left: 12vw;
        top: 140px;
      }
    }
    .filters {
      margin-left: 5px;
      margin-right: -5px;
    }
    .shopFiltersOff {
      width: 0px;
    }
    .priceRange {
      margin-top: -120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &Slider {
        width: 150px;
        user-select: none;
      }
      &Iputs {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      &Input {
        text-align: center;
        z-index: 99;
        width: 48px;
        font-size: 15px;
        border: 1px solid #cacaca;
      }
      &MinMax {
        margin-top: -76px;
        display: flex;
        justify-content: space-between;
        width: 200px;
        .priceRangeText {
          font-size: 15px;
        }
        user-select: none;
      }
    }
  }
}
