.shop {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &ItemsProducts {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .searchTools {
    margin: 0 auto;
    margin-top: -10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    @media (max-width: 750px) {
      width: 100%;
    }
    @media (max-width: 480px) {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
    }
  }
  .itemBox {
    max-width: 1920px;
    width: 100%;
    @media (max-width: 1118px) {
      margin-top: 120px;
    }
    display: flex;
    justify-content: space-between;
    .shopFilters,
    .shopFiltersOff {
      position: relative;
      padding-top: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      width: 20vw;
      user-select: none;
      max-height: 220px;
      @media (max-width: 1118px) {
        width: 0px;
      }
      &Block {
        position: absolute;
        left: 12vw;
        top: 140px;
      }
    }
    .filters {
      margin-left: 25px;
      margin-right: -25px;
    }
    .shopFiltersOff {
      width: 0px;
    }
  }
}
